<!-- Create table to display user data -->
<!-- Display username, bio, location -->
<%- include ('../partials/header') %>
<header class="p-3" style="background-color: #deb887;"><div class="container">
    <h1 style="font: Rockwell;">
        Climbing Buddy
    </h1>
</div>
</header>
<main>
    <div class="container">
        <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Bio</th>
                <th>Location</th>
            </tr>
        </thead>
            <tr>
                <td><%=username%></td>
                <td><%=user_bio%></td>
                <td><%=user_city%></td>
            </tr>
        </table>
        <button type="button" href="../pages/updateProfile.ejs">Update Profile</button>
    </div>
</main>

<%- include ('../partials/footer') %>