<!-- Create table to display user data -->
<!-- Display username, bio, location -->
<%- include ('../partials/header') %> <%- include ('../partials/menu') %>
</div>
</header>
<main>
    <div class="container">
        <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>
                    <!-- Add photo link here -->
                    Profile Pic
                </th>
                <th>Bio</th>
                <th>Location</th>
            </tr>
        </thead>
            <tr>
                <td><%=username%></td>
                <td><!-- change img jpg to <%=photoID%> -->
                    <img alt="<%=photoID%>" width="200" src="<%=photoID%>"/></td>
                <td><%=user_bio%></td>
                <td><%=user_city%></td>
            </tr>
        </table>
        <a class="nav-link" href="/updateProfile">Click Me: Update Profile</a>
    </div>
</main>

<%- include ('../partials/footer') %>